<?xml version="1.0" ?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>LSMinimumSystemVersion</key>
  <string>10.9</string>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>
  <key>CFBundleAllowMixedLocalizations</key>
  <true/>
  <key>CFBundleExecutable</key>
  <string>DEPLOY_LAUNCHER_NAME</string>
  <key>CFBundleIconFile</key>
  <string>DEPLOY_ICON_FILE</string>
  <key>CFBundleIdentifier</key>
  <string>DEPLOY_BUNDLE_IDENTIFIER</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
	<string>MacOSX</string>
  </array>
  <key>CFBundleName</key>
  <string>DEPLOY_BUNDLE_NAME</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>DEPLOY_BUNDLE_SHORT_VERSION</string>
  <key>CFBundleSignature</key>
  <string>????</string>
  <!-- See http://developer.apple.com/library/mac/#releasenotes/General/SubmittingToMacAppStore/_index.html
       for list of AppStore categories -->
  <key>LSApplicationCategoryType</key>
  <string>public.app-category.medical</string>
  <key>CFBundleVersion</key>
  <string>DEPLOY_BUNDLE_CFBUNDLE_VERSION</string>
  <key>NSHumanReadableCopyright</key>
  <string>DEPLOY_BUNDLE_COPYRIGHT</string>
  <key>JavaRuntime</key>
  <string>DEPLOY_JAVA_RUNTIME_NAME</string>
  <key>JavaMainClassName</key>
  <string>DEPLOY_LAUNCHER_CLASS</string>
  <key>JavaAppClasspath</key>
  <string>app.classpath=$APPDIR/Java/felix.jar:$APPDIR/Java/substance.jar:$APPDIR/Java/weasis-launcher.jar</string>
  <key>JavaMainJarName</key>
  <string>DEPLOY_MAIN_JAR_NAME</string>
  <key>JavaOptions</key>
  <array>
DEPLOY_JAVA_OPTIONS
  </array>
  <key>ArgOptions</key>
  <array>
DEPLOY_ARGUMENTS
  </array>
  <key>NSHighResolutionCapable</key>
  <string>true</string>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DICOM</string>
			<key>UTTypeIdentifier</key>
			<string>org.nema.dicom</string>
			<key>UTTypeReferenceURL</key>
			<string>http://dicom.nema.org</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>DICM</string>
				<key>public.filename-extension</key>
				<array>
					<string>dcm</string>
				</array>
				<key>public.mime-type</key>
				<string>Application/dicom</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dcm</string>
				<string>DCM</string>
				<string>dicom</string>
				<string>DICOM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>DEPLOY_ICON_FILE</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/dicom</string>
				<string>image/x-dcm</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>DICOM Image</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>DCM</string>
				<string>DCOM</string>		
				<string>****</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSCanProvideIMVideoDataSource</key>
			<string>Yes</string>
		</dict>
	</array>
 </dict>
</plist>
