Package: APPLICATION_PACKAGE
Version: APPLICATION_VERSION
Section: science
Maintainer: APPLICATION_MAINTAINER
Priority: optional
Architecture: APPLICATION_ARCH
Provides: APPLICATION_PACKAGE
Description: APPLICATION_DESCRIPTION
Installed-Size: APPLICATION_INSTALLED_SIZE
PACKAGE_DEPENDENCIES
