[Desktop Entry]
Version=1.0
Name=Dicomizer
Comment=Build DICOM files from images
Exec=/opt/Weasis/Weasis '$weasis:config pro="felix.extended.config.properties file:conf/ext-dicomizer.properties" pro="weasis.profile dicomizer" pro="gosh.port 17181"'
Icon=/opt/Weasis/app/resources/images/dicomizer.png
Terminal=false
Type=Application
Categories=Viewer;MedicalSoftware;Graphics;
