<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="PRODUCT_GUID" Language="1033" Manufacturer="APPLICATION_VENDOR" Name="APPLICATION_NAME" UpgradeCode="3aedc24e-48a8-4623-ab39-0c3c01c7383a" Version="APPLICATION_VERSION">
    <Package Compressed="yes" Description="APPLICATION_DESCRIPTION" InstallScope="INSTALL_SCOPE" InstallerVersion="200" Manufacturer="APPLICATION_VENDOR" Platform="PLATFORM"/>
    <Media Cabinet="simple.cab" CompressionLevel="high" EmbedCab="yes" Id="1"/>
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." Schedule="afterInstallInitialize"/>
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Id="APPLICATIONFOLDER_REGSEARCH" Key="SOFTWARE\APPLICATION_VENDOR\APPLICATION_NAME" Name="Path" Root="REGISTRY_ROOT" Type="raw"/>
    </Property>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Guid="*" Id="CleanupMainApplicationFolder" Win64="WIN64">
        <RegistryValue Key="SOFTWARE\APPLICATION_VENDOR\APPLICATION_NAME" KeyPath="yes" Name="Path" Root="REGISTRY_ROOT" Type="string" Value="[APPLICATIONFOLDER]"/>
        <RegistryKey Key="weasis" Root="HKCR">
          <RegistryValue Type="string" Value="Weasis URI handler"/>
          <RegistryValue Name="URL Protocol" Type="string" Value=""/>
          <RegistryValue Name="DefaultIcon" Type="string" Value="&quot;[APPLICATIONFOLDER]Weasis.ico&quot;,1"/>
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string" Value="&quot;[APPLICATIONFOLDER]Weasis.exe&quot; &quot;%1&quot;"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
      <Component Guid="c366e221-576e-457f-a876-574c42d730eb" Id="ApplicationShortcut" Win64="WIN64">
        <Shortcut Arguments="weasis://%24weasis%3Aconfig%20pro%3D%22felix.extended.config.properties%20file%3Aconf%2Fext-dicomizer.properties%22%20pro%3D%22weasis.profile%20dicomizer%22%20pro%3D%22gosh.port%2017181%22" Description="Build DICOM files from images" Directory="ProgramMenuDir" Icon="IconDesktop" Id="DicomizerShortcut" Name="Dicomizer" Target="Weasis.exe">
          <Icon Id="IconDesktop" SourceFile="Dicomizer.ico"/>
        </Shortcut>
      </Component>
    </DirectoryRef>
    
    <?include bundle.wxi ?>
    CA_BLOCK
        
    <UI>
    INVALID_INSTALL_DIR_DLG_BLOCK
    UI_BLOCK
    </UI>
    
    <Icon Id="DesktopIcon.exe" SourceFile="APPLICATION_ICON"/>
    <Icon Id="StartMenuIcon.exe" SourceFile="APPLICATION_ICON"/>
    <Property Id="ARPPRODUCTICON" Value="DesktopIcon.exe"/>
    ADD_LAUNCHER_ICONS
    
    <Feature Id="DefaultFeature2" Title="Main Feature 2" Level="1">
      <ComponentRef Id="ApplicationShortcut" />
    </Feature>
    
  </Product>
</Wix>