<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="PRODUCT_GUID" Language="1033" Manufacturer="APPLICATION_VENDOR" Name="APPLICATION_NAME" UpgradeCode="3aedc24e-48a8-4623-ab39-0c3c01c7383a" Version="APPLICATION_VERSION">
    <Package Compressed="yes" Description="APPLICATION_DESCRIPTION" InstallScope="INSTALL_SCOPE" InstallerVersion="200" Manufacturer="APPLICATION_VENDOR" Platform="PLATFORM"/>
    <Media Cabinet="simple.cab" CompressionLevel="high" EmbedCab="yes" Id="1"/>
    <MajorUpgrade DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." Schedule="afterInstallInitialize"/>
    <Property Id="APPLICATIONFOLDER">
      <RegistrySearch Id="APPLICATIONFOLDER_REGSEARCH" Key="SOFTWARE\APPLICATION_VENDOR\APPLICATION_NAME" Name="Path" Root="REGISTRY_ROOT" Type="raw"/>
    </Property>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Guid="*" Id="CleanupMainApplicationFolder" Win64="WIN64">
        <RegistryValue Key="SOFTWARE\APPLICATION_VENDOR\APPLICATION_NAME" KeyPath="yes" Name="Path" Root="REGISTRY_ROOT" Type="string" Value="[APPLICATIONFOLDER]"/>
        <RegistryKey Key="weasis" Root="HKCR">
          <RegistryValue Type="string" Value="Weasis URI handler"/>
          <RegistryValue Name="URL Protocol" Type="string" Value=""/>
          <RegistryValue Name="DefaultIcon" Type="string" Value="&quot;[APPLICATIONFOLDER]Weasis.ico&quot;,1"/>
          <RegistryKey Key="shell\open\command">
            <RegistryValue Type="string" Value="&quot;[APPLICATIONFOLDER]Weasis.exe&quot; &quot;%1&quot;"/>
          </RegistryKey>
        </RegistryKey>
      </Component>
    </DirectoryRef>
    
    <?include bundle.wxi ?>
    CA_BLOCK
        
    <UI>
    INVALID_INSTALL_DIR_DLG_BLOCK
    UI_BLOCK
    </UI>
    
    <Icon Id="DesktopIcon.exe" SourceFile="APPLICATION_ICON"/>
    <Icon Id="StartMenuIcon.exe" SourceFile="APPLICATION_ICON"/>
    <Property Id="ARPPRODUCTICON" Value="DesktopIcon.exe"/>
    ADD_LAUNCHER_ICONS
  </Product>
</Wix>