<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Weasis</string>
	<key>CFBundleDisplayName</key>
	<string>Weasis</string>
	<key>CFBundleVersion</key>
	<string>${app.version}</string>
	<key>CFBundleShortVersionString</key>
	<string>${app.version}</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<string>true</string>
	<key>CFBundleExecutable</key>
	<string>viewer-mac.sh</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>logo-button</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>org.weasis.Weasis</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.9</string>
</dict>
</plist>
